.card {
    padding: 1rem  2rem;
    margin: 1rem;
}

.list {
    width: fit-content;
    max-width: 80vw;
}

.card-size {
    height: 7rem;
    width: 10rem;
}

.indexz {
    z-index: 999999;
}

.toaster {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 9;
}

.min-heigth {
    min-height: 14rem;
}